@charset "utf-8";
/* reset */
body,div,dl,dt,dd,ul,ol,li,p,h1,h2,h3,h4,h5,h6,input,tr,td,table,figure,mark,button{
     padding: 0;
     margin: 0;
}
body{
     font: 12px/20px "simsun","宋体","Arial","Helvetica","sans-serif";
     color: #333;
}
h1,h2,h3,h4,h5,h6{
     font-size: 14px;
}
fieldset, img{
     border: none;
}
img{
     display: block;
     border: 0;
}
em, i{
     font-style: normal;
}
s, strike, del{
     text-decoration: none;
}
table{
     width: 100%;
     border: 0;
     border-collapse: collapse;
     border-spacing: 0;
}
a{
     color: #666;
     outline: none;
     text-decoration: none;
}
ul, li{
     list-style-type: none;
}
.clear{
     clear: both;
}
.clearfix:after{
	clear: both;
	display: table;
	content: "";
}
.clearfix{
	zoom:1;
}
